# Add or remove environment variables here.
CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='DEPARTMENT_NAME'
DEPARTMENT_URL='DEPARTMENT_URL'
RATELIMIT_HEADERS_ENABLED=True
RATELIMIT_STORAGE_URI='DATA_BASE_URL'
AUTH_RATE_LIMIT_MAX=20
RATE_LIMIT_MAX=100
RATE_WINDOW_MS=900000#15 * 60 * 1000 = 900000
SERVICE_NAME='Your service name'
SERVICE_PHASE='Alpha'
SERVICE_URL='SERVICE_URL'
NODE_ENV=development
SESSION_SECRET='s3Cur3'
REDIS_URL='redis://localhost:6379'

# One password environment variables are injected when you run the command `op run --env-file=.env -- ` follow you commands that run the application or docker
# below is the schema one password uses see https://developer.1password.com/docs/cli/secret-reference-syntax for full details.
# Any new one passwords secrets added her MUST be added to docker compose file.

ENTRA_CLIENT_ID="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"
ENTRA_TENANT_ID="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"
ENTRA_CLIENT_SECRET="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"
ENTRA_REDIRECT_URI="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"
ENTRA_AUTHORITY_BASE_URL="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"
ENTRA_POST_LOGOUT_REDIRECT_URI="op://<VAULT_NAME>/<ITEM_NAME>/<OPTIONAL_SECTION_NAME>/<FIELD_NAME>"