# Add or remove environment variables here.
CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='DEPARTMENT_NAME'
DEPARTMENT_URL='http://localhost:3000'
RATELIMIT_HEADERS_ENABLED=True
RATELIMIT_STORAGE_URI='DATA_BASE_URL'
AUTH_RATE_LIMIT_MAX=20
RATE_LIMIT_MAX=100
RATE_WINDOW_MS=900000#15 * 60 * 1000 = 900000
SERVICE_NAME='Your service name'
SERVICE_PHASE='Alpha'
SERVICE_URL='http://localhost:3000'
NODE_ENV=development
SESSION_SECRET='s3Cur3'
REDIS_URL='redis://localhost:6379'


# 1Password is used to store sensitive secrets that might be needed locally.
# ALL SECRETS MUST BE MIRRORED IN DOCKER COMPOSE FILE.
#
# One password environment variables are injected when you run 
# `op run --env-file=.env -- `, followed by a command which uses .env
# 
# https://developer.1password.com/docs/cli/secret-reference-syntax

ENTRA_CLIENT_ID="op://LAA Record Controlled Work/RCW/ENTRA_CLIENT_ID"
ENTRA_TENANT_ID="op://LAA Record Controlled Work/RCW/ENTRA_TENANT_ID"
ENTRA_CLIENT_SECRET="op://LAA Record Controlled Work/RCW/ENTRA_CLIENT_SECRET"
ENTRA_REDIRECT_URI="op://LAA Record Controlled Work/RCW/ENTRA_REDIRECT_URI"
ENTRA_AUTHORITY_BASE_URL="op://LAA Record Controlled Work/RCW/ENTRA_AUTHORITY_BASE_URL"
ENTRA_POST_LOGOUT_REDIRECT_URI="op://LAA Record Controlled Work/RCW/ENTRA_POST_LOGOUT_REDIRECT_URI"
