{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h2 class="govuk-heading-l">{{ clientAndCaseDetails.heading }}</h2>

{{ govukSummaryList({
  rows: clientAndCaseDetails.rows
}) }}
