{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block headerBanner %}
  <header class="moj-header" role="banner">
    <div class="moj-header__container">
      <div class="moj-header__logo">
        {% include "../icons/moj-header-crest.svg" %}
        <a class="moj-header__link moj-header__link--organisation-name" href="{{config.DEPARTMENT_URL}}">{{config.DEPARTMENT_NAME}}</a>
      </div>
      {% if isAuthenticated %}
        <div class="moj-header__content">
          <nav class="moj-header__navigation" aria-label="Account navigation">
            <ul class="moj-header__navigation-list">
              <li class="moj-header__navigation-item">
                {{ user.username }}
              </li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link govuk-!-font-weight-bold" href="/logout">{{t('common.signOut')}}</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endif %}
    </div>
  </header>
{% endblock %}

{% block navigation %}
    {{ govukServiceNavigation({
  serviceName: config.SERVICE_NAME,
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    }
  ]
    }) }}
{% endblock %}

{% block phaseBanner %}
    {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: t('components.phaseBanner.feedbackText') + t('components.phaseBanner.feedbackLinkTextHTML')
  }) }}
{% endblock %}

